<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="../static/favicon/snake.png">
    <title>Snake Game</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="SnakeGame">
        <div class="score">
            <h1>Snake Game</h1>
            <p>Score: <span id="score">0</span></p>
            <p>High Score: <span id="highScore">0</span></p>
        </div>
        <div class="game">
            <canvas width="400" height="400" id="game"></canvas>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
